@page
@{
    ViewData["Title"] = "Password reset";
}

<div class="text-center my-5">
    <h1 class="mb-3">@ViewData["Title"] complete</h1>
    <p>Your password has been updated. You can now log in using your new credentials.</p>
    <a class="btn btn-primary mt-3" asp-page="./Login">Go to login</a>
</div>

